version: '3.8'
networks:
    cubos-sql-network:
        driver: bridge
services:
  cubos-sql:
    build:
        context: ./sql
        dockerfile: Dockerfile
    container_name: cubos-sql
    restart: on-failure
    env_file:
      - ./sql/.env
    ports:
        - 5432:5432
    volumes:
        - ./sql/data:/var/lib/postgresql/data
        - ./sql/logs:/var/log/postgresql
    networks:
      - cubos-sql-network

  cubos-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - cubos-sql
    container_name: cubos-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - 3000:3000
    volumes:
      - ./backend:/usr/src/app
    networks:
      - cubos-sql-network